@import url('https://fonts.googleapis.com/css?family=Bungee');

/* Contêiner do título do desafio */
.challenge-title-container {
    position: absolute; /* Posiciona o contêiner no meio da tela */
    top: 30%; /* 30% da altura da tela */
    left: 50%; /* 50% da largura da tela */
    transform: translate(-50%, -50%); /* Centraliza o contêiner horizontal e verticalmente */
    z-index: 2; /* Garante que o contêiner fique acima de outros elementos */
    text-align: center; /* Centraliza o texto dentro do contêiner */
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse o contêiner */
}

/* Estilo para o título principal do desafio */
.challenge-game-title {
    font-family: 'Bungee', cursive; /* Fonte personalizada */
    font-size: 150px; /* Tamanho da fonte */
    letter-spacing: 8px; /* Espaçamento entre letras */
    color: #ffc000; /* Cor do texto */
    text-shadow: 
        3px 3px 0 #000,    /* Contorno preto fino no topo e esquerda */
        3px -3px 0 #000,  /* Contorno preto fino na parte inferior e direita */
        3px -3px 0 #000,   /* Contorno preto fino na diagonal superior direita */
        -9px 9px 0 #000,   /* Contorno preto fino na diagonal inferior esquerda */
        9px 9px 16px rgba(0, 0, 0, 0.6); /* Sombra adicional para efeito de profundidade */
    text-transform: uppercase; /* Transforma o texto para maiúsculas */
    margin: 0; /* Remove margens */
    padding: 10px; /* Espaço interno ao redor do texto */
}

/* Estilo para o subtítulo do desafio */
.challenge-game-sub-title {
    font-family: 'Bungee', cursive; /* Fonte personalizada */
    font-size: 50px; /* Tamanho da fonte */
    letter-spacing: 8px; /* Espaçamento entre letras */
    color: #ffc000; /* Cor do texto */
    text-shadow: 
        1px 1px 0 #000,    /* Contorno preto fino no topo e esquerda */
        1px -1px 0 #000,  /* Contorno preto fino na parte inferior e direita */
        1px -1px 0 #000,   /* Contorno preto fino na diagonal superior direita */
        -2px 2px 0 #000,   /* Contorno preto fino na diagonal inferior esquerda */
        2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra adicional para efeito de profundidade */
    text-transform: uppercase; /* Transforma o texto para maiúsculas */
    margin: 0; /* Remove margens */
    padding: 5px; /* Espaço interno ao redor do texto */
}
