/* Contêiner do carrossel */
.fist-carousel-container {
    position: relative;
    width: 70vw; 
    height: 70vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

/* Estiliza o título do carrossel */
.carousel-title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 35px;
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    padding: 10px 0;
    background: transparent;
    z-index: 1;
}

/* Passos do Carrossel */
.carousel-step {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
    box-sizing: border-box;
    background: transparent;
    margin-top: 40px;
}

/* Contêiner para os botões de navegação e nível */
.navigation-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center; /* Alinha todos os botões no centro */
    gap: 40px; /* Espaço entre os botões */
    padding: 0 20px; /* Ajusta o espaçamento nas laterais */
}

/* Estilo dos botões de navegação */
.btn-nav {
    width: 80px; /* Diminuído para menos espaçamento */
    height: 80px; /* Diminuído para menos espaçamento */
    border-radius: 8px;
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 30px; /* Diminuído para menos espaçamento */
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 5px; /* Mantido como está */
    background: radial-gradient(circle, #8b0000, #8b0000);
    border-top: 8px ridge #ffb000;
    border-left: 8px groove #ffb000;
    border-right: 8px ridge #ffb000;
    border-bottom: 8px groove #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo dos botões de navegação ao passar o mouse */
.btn-nav:hover {
    background: radial-gradient(circle, #e52b2b, #8b0000);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

/* Estilo dos botões de navegação ao clicar */
.btn-nav:active {
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

/* Estilo específico para o botão de nível */
.level-button {
    width: 200px; /* Diminuído para menos espaçamento */
    height: 80px; /* Diminuído para menos espaçamento */
    border-radius: 8px;
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 30px; /* Diminuído para menos espaçamento */
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 5px; /* Mantido como está */
    background: radial-gradient(circle, #8b0000, #8b0000);
    border-top: 8px ridge #ffb000;
    border-left: 8px groove #ffb000;
    border-right: 8px ridge #ffb000;
    border-bottom: 8px groove #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo do botão de finalizar */
.btn-nav.finish {
    width: 60px; /* Diminuído para menos espaçamento */
    height: 60px; /* Diminuído para menos espaçamento */
    font-size: 22px;
    background: radial-gradient(circle, #8b0000, #8b0000);
    border-top: 8px ridge #ffb000;
    border-left: 8px groove #ffb000;
    border-right: 8px ridge #ffb000;
    border-bottom: 8px groove #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
}

/* Estilo dos botões de navegação ao passar o mouse para o botão de finalizar */
.btn-nav.finish:hover {
    background: radial-gradient(circle, #003300, #003300);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

/* Estilo dos botões de navegação ao clicar para o botão de finalizar */
.btn-nav.finish:active {
    background: radial-gradient(circle, #003300, #003300);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

/* Estilo dos botões invisíveis */
.btn-nav.disabled {
    width: 60px; /* Diminuído para menos espaçamento */
    height: 60px; /* Diminuído para menos espaçamento */
    border-radius: 8px;
    font-family: 'Skranji', cursive;
    color: transparent; /* Torna o texto invisível */
    font-size: 30px; /* Diminuído para menos espaçamento */
    font-weight: 400;
    text-shadow: none;
    text-align: center;
    padding: 5px; /* Mantido como está */
    background: transparent;
    border: 8px solid transparent; /* Mantém o formato do botão */
    box-shadow: none;
    cursor: default; /* Mostra o cursor padrão */
    pointer-events: none; /* Desativa a interatividade */
}
