/* Importando a fonte Skranji */
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

/* Estilo do título no botão */
.btn-title {
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    position: relative;
}

/* Estilo do menu */
.menu-mode {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 450px;
}

/* Estilo do botão principal */
.btn-mode {
    margin: 10px auto;
    width: 250px;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 25px;
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #8b0000, #8b0000);
    border-top: 8px ridge #ffb000;
    border-left: 8px groove #ffb000;
    border-right: 8px ridge #ffb000;
    border-bottom: 8px groove #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    position: relative; /* Garantir que as info-containers estejam em relação ao botão */
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Estilo do botão ao passar o mouse */
.btn-mode:hover {
    background: radial-gradient(circle, #e52b2b, #8b0000);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

/* Estilo do botão quando é clicado */
.btn-mode:active {
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

/* Estilo das informações ao lado do botão */
.info-container {
    position: absolute;
    width: 300px;
    height: 150px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 11; /* Garantir que o container de informação fique acima dos botões */
    overflow: hidden; /* Evitar que o conteúdo extra apareça */
    top: 50%; /* Posicionar verticalmente no meio do botão */
    transform: translateY(-50%); /* Centralizar verticalmente */
}

/* Mostrar a info-container ao passar o mouse sobre o botão */
.btn-mode:hover .info-left {
    left: -350px; /* Ajuste para ficar afastado do botão */
    opacity: 1;
}

.btn-mode:hover .info-right {
    right: -350px; /* Ajuste para ficar afastado do botão */
    opacity: 1;
}
